#app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #d894e8;
}

#header {
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

#logo{
  height:75px;
}

h1 {
  font: 3em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  padding:0;
  margin:0;
}

#search-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  margin:3% 0;
}

#searchinput {
  grid-row: 1/2;
  grid-column: 1/2;
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 3%;
  border:none;
}

#search {
  grid-row: 1/2;
  grid-column: 2/3;
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: darkblue;
  color: white;
  border: none;

  height:100%;
}

#clear {
  grid-row: 2/3;
  grid-column: 1/3;
  display:flex;
  justify-content: center;
  font: 0.75em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: inherit;
  color: lightgrey;
  border: none;
}

#content {
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* entire container, keeps perspective */
.card-container {
  padding: 1%;
  perspective: 1000px;
  /* width:250px;
  height:390px; */
}

/* flip the pane when hovered */
.card-container:hover .card, .card-container:hover .card {
  transform: rotateY(180deg);
}

.card-container, .card-container .card-front, .card-back, .card-front img {
  width: 250px;
  height: 390px;
}

.card-back {
  background-color: #fce562;
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* flip speed goes here */
.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.card-front, .card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.card-front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.card-back {
  transform: rotateY(180deg);
}

.book-title, .book-description, .book-button {
  margin: 5%;
  text-align: center;
}

.book-title {
  font-weight: bold;
  font-size: 1.5em;
}

.book-button {
  text-decoration: none;
  background-color: darkblue;
  color: white;
  padding: 3%;
  border-radius: 5px;
}

.book-button:hover {
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.6);
}
